#!/usr/bin/make -f

ASIHPI_VERSION=4.20.39

build:	
	make -C hpi-lib
	make -C hpi-cli-apps

binary:	
	dh_testroot
	dh_prep

#
# hpklinux-dev
#
	mkdir -p debian/hpklinux-dev/usr/lib
	cp -P hpi-lib/libhpimux.so debian/hpklinux-dev/usr/lib/
	cp -P hpi-lib/libhpi.so debian/hpklinux-dev/usr/lib/
	cp -P hpi-lib/libhpiudp.so debian/hpklinux-dev/usr/lib/
	cp hpi-lib/libhpiudp.a debian/hpklinux-dev/usr/lib/
	mkdir -p debian/hpklinux-dev/usr/include/asihpi
	cp hpi-lib/hpi.h debian/hpklinux-dev/usr/include/asihpi/
	cp hpi-lib/hpi_version.h debian/hpklinux-dev/usr/include/asihpi/

#
# hpklinux
#
	mkdir -p debian/hpklinux/usr/lib
	cp -P hpi-lib/libhpimux.so.10 debian/hpklinux/usr/lib/
	cp hpi-lib/libhpimux.so.10.3.0 debian/hpklinux/usr/lib/
	cp -P hpi-lib/libhpi.so.10 debian/hpklinux/usr/lib/
	cp hpi-lib/libhpi.so.10.3.0 debian/hpklinux/usr/lib/
	cp -P hpi-lib/libhpiudp.so.10 debian/hpklinux/usr/lib/
	cp hpi-lib/libhpiudp.so.10.3.0 debian/hpklinux/usr/lib/
	mkdir -p debian/hpklinux/usr/bin
	cp hpi-cli-apps/asi_firmware_updater debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpiassert debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpibl debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpiplay debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpirds debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpirec debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpi_si4688 debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpitest debian/hpklinux/usr/bin/
	cp hpi-cli-apps/asihpitune debian/hpklinux/usr/bin/
	mkdir -p debian/hpklinux/usr/src/asihpi-$(ASIHPI_VERSION)
	cp -a hpi-drv/* debian/hpklinux/usr/src/asihpi-$(ASIHPI_VERSION)/
	mkdir -p debian/hpklinux/etc/modprobe.d
	echo "blacklist snd-asihpi" > debian/hpklinux/etc/modprobe.d/blacklist-snd-asihpi.conf
	dh_strip_nondeterminism
	dh_compress
	dh_fixperms
	dh_missing
	dh_dwz
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:
	dh $@
